---
---

@import "main";

/* FORCE paragraph text size */
article p,
article li {
  font-size: 18px !important;
  line-height: 1.6;
}

/* Code blocks */
article pre,
article code {
  font-size: 16px !important;
}
